
.title-slide {
    background-image: url("images/cover.jpg"); /* Change background image */
    background-size: cover;
    background-position: center;
  }
  
 
  .title-slide h1 {  
    font-size: 50px;  /* Change title size */
    line-height: 10px; /* Spacing */
  }
  
  .title-slide h2 {  
    font-size: 30px;  /* Change subtitle size */
    line-height: 30px;  
  }
  
  .title-slide h3 {  
    font-size: 25px;  /* Change author size */
    line-height: 20px;  
  }
  
  .title-slide p {  
    font-size: 20px;  /* Change date size */
    line-height: 10px;  
  }
  
  
  /**
 * Image slider with pure CSS
 * Original version in http://demosthenes.info/blog/css
 */

.image-slider {
	position:relative;
	display: inline-block;
	line-height: 0;
}

/* Could use a pseudo-element, but they’re currently
   super buggy. See: http://dabblet.com/gist/ab432c3f6a8f672cd077 */
.image-slider > div {
	position: absolute;
	top: 0; bottom: 0; left: 0;
    /* here the change */
	width: 300px;
	max-width: 100%;
	overflow: hidden;
	resize: horizontal;
}

/* Cross-browser resizer styling */
.image-slider > div:before {
	content: '';
	position: absolute;
	right: 0; bottom: 0;
	width: 13px; height: 13px;
	padding: 5px;
	background: linear-gradient(-45deg, white 50%, transparent 0);
	background-clip: content-box;
	cursor: ew-resize;
	-webkit-filter: drop-shadow(0 0 2px black);
	filter: drop-shadow(0 0 2px black);
}

.image-slider img {
	user-select: none;
	max-width: 700px;
}

<style>
  .custom-line {
    border: 1px solid black; 
    margin-top: 1px;          
    margin-bottom: 1px;   
  }
</style>
